
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url('images/BG.jpg') center center / cover no-repeat fixed;
  color: #fff;
}

.top-accent {
  height: 6px;
  background: #9b2cff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.top-header {
  position: fixed;
  top: 7px;
  left: 1;
  width: 100%;
  z-index: 40;
  background: rgba(2,60,95,0.5);
   color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.35);
}

.header-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 14px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tagline {
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
}

.header-nav a {
  color: #f5cf60;
  text-decoration: none;
  margin: 0 8px;
  font-weight: 600;
}
.header-nav a:hover,
.header-nav a.active {
  color: #ffffff;
}

.contact-content {
  padding-top: 150px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contact-card {
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  padding: 3rem;
  border-radius: 16px;
  max-width: 900px;
  margin: 2rem;
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.contact-card h1 {
  font-family: "Playfair Display", serif;
  color: #ffd369;
  font-style: italic;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.contact-card .intro {
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  color: #f5f5f5;
}

.contact-form {
  text-align: left;
  margin-bottom: 2.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.4rem;
  color: #ffd369;
  font-weight: 500;
}

input, textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 1rem;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

button {
  background: #ffd369;
  color: #000;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ffde83;
}

.social-section {
  margin-top: 2rem;
}

.social-section h2 {
  color: #ffd369;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.social-section p {
  margin-bottom: 0.6rem;
}

.social-section a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.social-section a:hover {
  color: #ffd369;
}

.site-footer {
  background: rgba(2, 60, 95, 0.9);
  text-align: center;
  color: #fff;
  padding: 1rem;
  font-size: 0.95rem;
  margin-top: 3rem;
}
